@import 'mixins';
@import 'variables';

.court {
  border: $line-thickness solid $line-color;
  height: $court-height;
  width: $court-width;
  @include flex-center();

  .singles-court {
    height: 100%;
    width: $singles-court-width;
    border-left: $line-thickness solid $line-color;
    border-right: $line-thickness solid $line-color;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;

    .back-court {
      height: $back-court-height;
      display: flex;
      flex-direction: column;
      position: relative;

      .base-court {
        height: $base-court-height;
        @include flex-center();
      }

      .forward-court {
        height: $forward-court-height;
        display: flex;
        justify-content: space-evenly;

        section {
          width: 50%;
          @include flex-center();
        }

        .right {
          border-left: $line-thickness solid $line-color;
        }
      }
    }

    .net {
      @include tennis-net(green, #ffff);
    }
  }
}
