$ground-height: 50rem;
$ground-width: 40rem;

$court-height: $ground-height - 5rem;
$court-width: $ground-width - 5rem;

$court-to-singles-court-padding: 5rem;

$singles-court-width: $court-width - $court-to-singles-court-padding;

$net-height: 3rem;
$back-court-height: $court-height/2 - $net-height / 2;

$inner-court-padding: 3rem;
$base-court-height: $back-court-height / 2 - $inner-court-padding;
$forward-court-height: $back-court-height /2+$inner-court-padding;


$line-color: #fff;
$line-thickness: 5px;

$ball-size: 30px;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin tennis-net($pillar-color, $top-cloth-color) {
  height: $net-height;
  width: $court-width;
  border-left: $line-thickness solid $pillar-color;
  border-right: $line-thickness solid $pillar-color;
  border-top: $line-thickness solid $top-cloth-color;
  background-color: #ffff;
  opacity: 0.9;
  background-size: 7rem 10rem;
  background-image: url("../assets/tennis-net.jpg");
  background-repeat: repeat;
  transform: translate(-$court-to-singles-court-padding/2 - 0.32, 0);
}

.wrapper {
  height: 100vh;
  width: 100%;
  @include flex-center();

  .ground {
    background-color: #6AAA32;
    height: $ground-height;
    width: $ground-width;
    @include flex-center();

    .court {
      border: $line-thickness solid $line-color;
      height: $court-height;
      width: $court-width;
      @include flex-center();

      .singles-court {
        height: 100%;
        width: $singles-court-width;
        border-left: $line-thickness solid $line-color;
        border-right: $line-thickness solid $line-color;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        position: relative;

        .back-court {
          height: $back-court-height;
          display: flex;
          flex-direction: column;
          position: relative;

          .base-court {
            height: $base-court-height;
            @include flex-center();
          }

          .forward-court {
            height: $forward-court-height;
            display: flex;
            justify-content: space-evenly;

            section {
              width: 50%;
              @include flex-center();
            }

            .right {
              border-left: $line-thickness solid $line-color;
            }
          }
        }

        .net {
          @include tennis-net(green, #ffff);
        }
      }
    }
  }
}

.col-reverse {
  flex-direction: column-reverse !important;
}

.bottom-line {
  border-bottom: $line-thickness solid $line-color;
}

.top-line {
  border-top: $line-thickness solid $line-color;
}

.racket {
  width: 4rem;
  height: 5rem;
  position: absolute;

  &:hover {
    cursor: pointer;
  }
}

.ball {
  width: $ball-size;
  height: $ball-size;
  background: radial-gradient(circle at 65% 15%, white 1px, #aaca18 0%, #dfff4f 60%, #aaca18 100%);
  position: absolute;
  top: 0;
  border-radius: $ball-size;
}
