<section class="wrapper">
  <section class="ground">
    <section class="court">
      <section class="singles-court">
        <section class="back-court">
          <section class="base-court bottom-line">
            Base court
          </section>
          <section class="forward-court">
            <section class="left">
              left court
            </section>
            <section class="right">
              right court
            </section>
          </section>
        </section>
        <section class="net"></section>
          <section class="back-court col-reverse">
          <section class="base-court top-line">
            Base court
          </section>
          <section class="forward-court">
            <section class="left">
              left court
            </section>
            <section class="right">
              right court
            </section>
          </section>
        </section>
      </section>
    </section>
  </section>
</section>